# Should be generated during CI/CD pipeline execution
terraform {
  backend "s3" {
    bucket       = "tf-state-531438381462-digger"
    key          = "services/schedule/absence/ENV_NAME/ENV_REGION/terraform.tfstate"
    region       = "eu-west-1"
    use_lockfile = true
  }
}
