name: Destroy resources in Digger project

on:
  workflow_dispatch:
    inputs:
      project:
        description: 'Digger project to perform destroy on'
        required: true

jobs:
  destroy:
    runs-on: ubuntu-latest
    permissions:
      contents: write      # required to merge PRs
      actions: write       # required for plan persistence
      id-token: write      # required for workload-identity-federation
      pull-requests: write # required to post PR comments
      issues: read         # required to check if PR number is an issue or not
      statuses: write      # required to validate combined PR status

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5 # Don't upgrade to v6 until this issue is resolved: https://github.com/diggerhq/digger/issues/2468

      - name: Digger destroy
        uses: diggerhq/digger@vLatest
        with:
          mode: manual
          command: "digger destroy"
          project: "${{ inputs.project }}"
          setup-terraform: true
          terraform-version: '1.14.2'
          setup-aws: true
          aws-role-to-assume: ${{ vars.AWS_ROLE_ARN }} # TODO: Change to secrets.AWS_ROLE_ARN
          aws-region: ${{ vars.AWS_REGION }}
          upload-plan-destination: 'aws'
          upload-plan-destination-s3-bucket: ${{ vars.TF_PLAN_OUTPUTS_BUCKET }}
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
